<div role="tabpanel" class="tab-pane" id="faseripsystem">
  <FaseripChargen @name={{this.char.name}} @char={{this.char.custom.faserip}} @cg_info={{this.char.custom.cg_faserip}} @updated={{action "abilityChanged"}}/>
</div>