  <div class="char-ability-title">Primary Attributes</div>
  <table class="char-ability-list">
  {{#each this.list as |attr| }}
  <tr>
    <td>{{attr.name}} 
   </td>
    <td>{{attr.rank_short}}
   </td>
  </tr>
  {{/each}}
</table>
