  <div class="char-ability-title">{{this.title}}{{#if this.rank}} ({{this.rank}}){{/if}}</div>
  <table class="char-ability-list">
  {{#each this.list as |ability| }}
  <tr>
    <td>{{ability.name}} 
   </td>
    <td>{{ability.rank}}
   </td>
  </tr>
  {{/each}}
</table>
