<div class="row fs3-abilitybox"> 
  <div class="col col-sm-8">
    {{yield}}
  </div>

  <div class="col col-sm-4">
      <div class="fs3-rating-display">
        {{this.rank}}
    </div>    
  </div>
</div>
